.singIn {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.5s;
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .logo {
    width: 15rem;
    height: 5rem;
    object-fit: cover;
    margin-bottom: 5rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .singin-btn {
    padding: 0.5rem 1rem;
    background-color: var(--font-color-2);
    color: var(--font-color);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    &.loader {
      background-color: var(--shadow-color);
      transition: all 0.3s ease;
    }
    &:hover {
      background-color: var(--shadow-color);
    }
  }
  .input-boxes {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .input-box {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      input {
        padding: 0.5rem 1.5rem;
        font-size: 1.8rem;
        width: 70%;
        color: var(--font-color-2);
        background-color: var(--card-bg-color);
        border: none;
        outline: none;
        border-radius: 0.5rem;
        transition: all ease 0.5s;
        &:focus {
          border-bottom: 0.15rem solid var(--font-color-2);
          transition: all ease-in 0.5s;
        }
      }
      label {
        font-size: 1.9rem;
        color: var(--font-color);
        margin-right: 0.5rem;
      }
    }
  }
}
