.list {
        width: 100%;
        margin-top: 1.5rem;

        .listTitle {
                color: #ecf0f1;
                font-size: 1.5rem;
                font-weight: 600;
                cursor: default;
        }
        .wrapper {
                position: relative;
                margin: 3rem 0;
                .container {
                        display: flex;
                        width: max-content;
                        transform: translateX(0px);
                        transition: all ease 0.5s;
                }
                .sliderBTN {
                        width: 3rem;
                        height: 100%;
                        background-color: rgba(22, 22, 22, 0.5);
                        color: #ecf0f1;
                        position: absolute;
                        cursor: pointer;
                        z-index: 5;

                        &.back {
                                left: 0%;
                                top: 0%;
                        }
                        &.forward {
                                right: 1%;
                                top: 0%;
                        }
                        &:hover {
                                background-color: rgba(22, 22, 22, 0.8);
                        }
                }
        }
}
