.movies {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 8rem;
  background-color: var(--main-color);
  padding-bottom: 25rem;
  .movies-cards {
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    display: grid;
    row-gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, auto);
  }
}
