.features {
  width: 100%;
  height: 90vh;
  position: relative;
  .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
  .email-box {
    position: absolute;
    width: 40rem;
    display: flex;
    background-color: var(--main-color);
    top: 50%;
    right: 15%;
    background-color: var(--main-color);
    padding: 0.2rem;
    border-radius: 0.3rem;
    .email {
      padding: 0.75rem 0.5rem;
      width: 80%;
      margin-right: 0.5rem;
      border-radius: 0.3rem;
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--font-color);
      font-size: 1.8rem;
      &::placeholder {
        color: var(--font-color-2);
      }
    }
    .btn {
      padding: 0.75rem 0.5rem;
      border-radius: 0.3rem;
      border: none;
      outline: none;
      background-color: var(--font-color-2);
      font-size: 1.8rem;
      color: var(--font-color);
      cursor: pointer;
      transition: all ease 0.5s;
      &:hover {
        background-color: var(--shadow-color);
      }
    }
  }
}
